name: Lint, build and publish

on:
  workflow_dispatch:
  # pull_request:
  push:
  # branches:
  #   - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      # For git-auto-commit-action
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix
        uses: ./.github/actions/setup
        with:
          cache-key: ""

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: "chore(deps): Freeze the lock file"
          file_pattern: pnpm-lock.yaml
          # Disable hooks which require pnpm
          commit_options: --no-verify
          push_options: --no-verify

      - name: Check TypeScript types
        run: nix develop -L .#node-build -c pnpm run typecheck

      - name: Run eslint
        run: nix develop -L .#node-build -c pnpm run lint

  test-e2e:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            browser: chromium

          - os: ubuntu-latest
            browser: firefox

          - os: macos-latest
            browser: chromium

          - os: macos-latest
            browser: webkit

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix
        uses: ./.github/actions/setup
        with:
          cache-key: ${{ matrix.browser }}

      - name: Build the production assets
        run: nix develop -L .#node-build -c pnpm run build

      - name: Install Playwright browser
        # npm (provided by GitHub Actions) is a more reliable way to install a
        # browser that can be used on the platform.
        run: |
          if [[ "${{ matrix.browser }}" = chromium ]]
          then
            npx playwright install --with-deps ${{ matrix.browser }} --only-shell
          else
            npx playwright install --with-deps ${{ matrix.browser }}
          fi

      - name: Run e2e tests
        run: |
          CI=true NODE_ENV=production \
            nix develop -L .#node-build \
            -c pnpm run test-e2e --project=${{ matrix.browser }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ matrix.os }}-${{ matrix.browser }}
          path: playwright-report/
          retention-days: 30

  deploy:
    needs: [lint, test-e2e]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix
        uses: ./.github/actions/setup
        with:
          cache-key: ""

      - name: Build the production assets
        run: nix develop -L .#node-build -c pnpm run build

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: tanstack-blog
          entrypoint: server/index.mjs
          root: dist
